body {
  background-color: white;
}

h1 {
  font-family: "Freestyle Script";
  font-size: 5rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: black;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  font-size: 1.5rem;
  height: 30px;
  display: flex;
  justify-content: center;
  font-family: "Freestyle Script";
}

header * {
  display: inline;
}

header ul {
  background-color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 5%;
}

header li {
  margin: 20px;
}

header li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/* School ul*/
.schoollist {
  text-align: center;
  padding: 0rem;
}

.schoollist li {
  font-size: 2rem;
  padding: 1rem;
}

.schoollist a {
  text-decoration: none;
  color: blue;
  font-family: "Freestyle Script", "Yu Mincho";
}

/* Subject ul */

.subjectlist {
  text-align: center;
  padding: 0rem;
}

.firstinlist {
  border-top: 1px;
  border-style: solid;

  border-color: aqua;
}

.subjectlist li {
  font-size: 1.2rem;
  padding: 0.1rem;
  border: 0rem;
  border-bottom: 2px;
  border-style: solid;
  border-color: aqua;
}

.subjectlist a {
  text-decoration: none;
  color: blue;
  font-family: "Freestyle Script";
}

/* Youtube List*/

.youtubelist {
  text-align: center;
  padding: 0px;
}

.youtubelist li {
  font-size: 2.5rem;
  padding: 0.6rem;
}

.youtubelist a {
  text-decoration: none;
  font-family: "Freestyle Script";
  color: blue;
}
