@import url("https://fonts.googleapis.com/css2?family=Licorice&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-family: "Licorice", cursive;
  font-size: 5rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: rgb(0, 0, 0);
  text-shadow: 0 0 0.2em rgb(32, 228, 235);
}

header {
  position: absolute;
  left: 0;
  right: 0;

  font-size: 2rem;
  height: auto;

  text-align: center;
  font-family: "Licorice", cursive;
}

header * {
  display: inline;
}

header li {
  margin: 20px;
  border: solid;
  padding: 10px;
  background-color: rgb(0, 195, 255);
  box-shadow: 5px 10px 10px;
  display: inline-flex;
  border-radius: 16%;
}

header li:hover {
  color: rgb(238, 255, 0);
}

header li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

header a:hover {
  color: rgb(251, 255, 0);
}

/* School ul*/
.centrelist {
  text-align: center;
  padding: 0rem;
}

.centrelist li {
  font-size: 2rem;
  padding: 1rem;
}

.centrelist a {
  text-decoration: none;
  color: rgb(235, 83, 13);
  font-family: "Licorice", cursive, "Yu Mincho";
}

/* Subject ul */

.subjectlist {
  padding: 0rem;
}

.firstinlist {
  border-top: 1px;
  border-style: solid;

  border-color: aqua;
}

.subjectlist li {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1.8rem;
  padding: 0.1rem;
  border: 0rem;
  border-bottom: 3px;
  border-style: solid;
  border-color: rgb(255, 0, 0);
}

.subjectlist a {
  text-decoration: none;
  color: blue;
  font-family: "Licorice", cursive;
}

/* Youtube List*/

.youtubelist {
  text-align: center;
  padding: 0px;
}

.youtubelist li {
  font-size: 2.5rem;
  padding: 0.6rem;
}

.youtubelist a {
  text-decoration: none;
  font-family: "Licorice", cursive;
  color: blue;
}

/*Back Button*/

.btn {
  box-sizing: border-box;
  background-color: transparent;
  border: 2px solid red;
  border-radius: 0.3rem;
  color: red;
  cursor: pointer;
  display: flex;
  align-self: center;

  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1;

  padding: 0.5rem 1rem;
  text-decoration: none;
  text-align: center;
  position: fixed;
  bottom: 50px;
  left: 50px;
  font-family: "Licorice", cursive;
}

.btn:hover,
.btn:focus {
  color: #fff;
  outline: 0;
}

.back {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.back:hover {
  color: white;
  box-shadow: inset red 0 0 50px 50px;
}

.bigger li {
  font-size: 5rem;
}
