@import url("https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Licorice&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Just+Me+Again+Down+Here&family=Kalam&family=Kristi&family=PT+Sans:ital@1&family=PT+Serif:ital@1&family=Pacifico&family=Patrick+Hand&family=Playfair+Display:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap");

/* 
font-family: 'Dancing Script', cursive;
font-family: 'Just Me Again Down Here', cursive;
font-family: 'Kalam', cursive;
font-family: 'Kristi', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Patrick Hand', cursive;
font-family: 'Playfair Display', serif;
font-family: 'PT Sans', sans-serif;
font-family: 'PT Serif', serif; 
*/

html,
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
  animation: gradient 15s ease infinite;
  height: 100%;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-family: "Licorice", cursive, "Kosugi Maru", sans-serif;
  font-size: 5rem;
  font-weight: 900;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: rgb(0, 0, 0);
  text-shadow: 0 0 0.2em rgb(32, 228, 235);
  user-select: none;
  -webkit-user-select: none;
}

/*Button*/

.btn {
  box-sizing: border-box;
  background-color: transparent;
  border: 2px solid #151e11;
  border-radius: 0.3rem;
  color: #151e11;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1;
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-align: center;
  font-family: "Dancing Script", cursive;
}

.btn:hover {
  color: #fff;
  outline: 0;
}

header {
  position: absolute;
  left: 0;
  right: 0;
  font-size: 2rem;
  height: auto;
  text-align: center;
}

header ul {
  padding-inline-start: 0px;
}

.homepagebtn {
  text-decoration: none;
  margin: 20px;
  display: inline-block;
  text-align: center;
  line-height: normal;
  font-weight: 500;
  font-size: 2.2rem;
  padding: 0.5rem 1rem;
  border: solid 3px;
  --color: rgb(229, 248, 53);
  --hover: rgb(49, 35, 248);
  color: var(--color);
  border-color: var(--color);
  transition: 0.25s;
}

.homepagebtn:hover,
.homepagebtn:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  border-color: var(--hover);
  color: #fff;
}

/* header {
  position: absolute;
  left: 0;
  right: 0;

  font-size: 2rem;
  height: auto;

  text-align: center;
  font-family: "Licorice", cursive;
}

@media screen and (max-width: 800px) {
  header {
    font-size: 2rem;
  }
}

header * {
  display: inline;
}
header ul {
  padding-inline-start: 0px;
}

header li {
  margin: 20px;
  border: solid;
  padding: 10px;
  background-color: transparent;
  box-shadow: 5px 10px 10px; 
  display: inline-flex;
  border-radius: 3px;
}

@media screen and (max-width: 800px) {
  header li {
    margin: 30px 70px;
    display: block;
  }
}

header li:hover {
  color: white;
}
header li a:hover {
  color: rgb(238, 255, 0);
}

header li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
} */

/* School ul*/
.centrelist {
  text-align: center;
  padding: 0rem;
}

.centrelist li {
  font-size: 2rem;
  padding: 1rem;
}

.centrelist a {
  text-decoration: none;
  color: rgb(9, 255, 0);
  font-family: "Patrick Hand", cursive, "Kosugi Maru", sans-serif;
}

/* Subject ul */

.subjectlist {
  padding: 0rem;
}

.firstinlist {
  border-top: 1px;
  border-style: solid;

  border-color: aqua;
}

.subjectlist li {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1.8rem;
  padding: 0.1rem;
  border: 0rem;
  border-bottom: 3px;
  border-style: solid;
  border-color: rgb(255, 0, 0);
}

.subjectlist a {
  text-decoration: none;
  color: blue;
  font-family: "Patrick Hand", cursive;
}

/* Youtube List*/

.youtubelist {
  text-align: center;
  padding: 0px;
}

.youtubelist li {
  font-size: 2.5rem;
  padding: 0.6rem;
}

.youtubelist a {
  text-decoration: none;
  font-family: "Pacifico", cursive, "Ma Shan Zheng", cursive;
  color: blue;
}

/*Back Button*/

/* .back {
  position: fixed;
  bottom: 50px;
  left: 50px;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.back:hover {
  color: rgb(0, 255, 0);
  box-shadow: inset #151e11 0 0 50px 50px;
} */

.bigger li {
  font-size: 5rem;
}

/*Quote Generator*/

.container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.quotebtn {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  position: relative;
  display: inline-block;
  padding: 20px 25px;
  margin: 0px 0;
  color: #03e9f4;
  border-radius: 0px;
  border: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 5px;
  overflow: hidden;
}

.quotebtn:hover {
  background: #03e9f4;
  color: #151e11;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.text {
  font-size: 2rem;
  text-align: center;
  font-family: "Kalam", cursive, "Ma Shan Zheng", cursive;
  margin-top: 8%;
  margin-left: 10%;
  margin-bottom: 0%;
  margin-right: 10%;
  text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4;
  color: #03e9f4;
}

.QuoteGenerator {
  background: #000000;
}

.quoteheading {
  color: #03e9f4;
  text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4;
  font-family: "Handlee", cursive, monospace;
}
/*.quotebtn:nth-child(1) {
  filter: hue-rotate(270deg);
}
.quotebtn:nth-child(2) {
  filter: hue-rotate(110deg);
}*/

.quotebtn span {
  position: absolute;
  display: block;
}
.quotebtn span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s linear infinite;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
.quotebtn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
.quotebtn span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.quotebtn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 2.8rem;
    margin-bottom: 0.3rem;
  }

  .homepagebtn {
    margin: 15px;
    font-size: 2rem;
  }

  .schtitle {
    font-size: 4rem;
  }

  .centrelist li {
    font-size: 2rem;
  }

  .subjecttitle {
    font-size: 3.3rem;
  }

  .yttitle {
    font-size: 4rem;
  }

  .youtubelist li {
    font-size: 1.5rem;
    margin: 0px 0px;
    padding: 8px;
  }

  .quotebtn {
    margin-top: 2.5rem;
  }

  .text {
    margin-top: 20%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.5rem;
  }
}
